@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.home-main{
    width: 83%;
    position: absolute;
    top: 50px;
    font-family: 'Roboto', sans-serif;
    right: 0;
}

.home-main ul{
    list-style: none;
    margin: 10px;
}

.home-main button{
    padding: 4px 10px;
    border: 1px solid black;
    /* margin-right: 10px; */
    margin: 0;
    background-color: rgb(216, 215, 211);
    border-radius: 10px;
}

.home-videos-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/* 
.video-box{
    width: 100px;
}    */

.video-box img{
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.video-box{
    margin: 15px;
    cursor: pointer;
    /* background-color: burlywood; */
    height: 280px;
}

.video-box h6{
    font-size: 14px;
}

.video-box p{
    font-size: 13px;
    color: rgb(119, 119, 117);
}

.video-box p span{
    margin: 0 5px 0 0;
}